<% layout ('/layouts/boilerplate')%>
<div class="row">
    <h3 style="font-weight: 800; color: black;" class="text-center">Edit your profile</h3>
    <div class="card col-6 offset-3 mt-4" style="background-color: darkorange; font-weight: 600; fill-opacity: 0.5;">
        <form class="row g-3 needs-validation" action="/editInvestor?_method=PUT" method="POST" novalidate>
            <div class="form-group col-9 offset-1" style="fill-opacity: 1.0;">

                <div class="mb-2 mt-3">
                    <label for="name">Enter full name</label>
                    <input class="form-control" type="text" name="name" id="name"
                        pattern="^(?:((([^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]'’,\-.\s])){1,}(['’,\-\.]){0,1}){2,}(([^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]'’,\-. ]))*(([ ]+){0,1}(((([^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]'’,\-\.\s])){1,})(['’\-,\.]){0,1}){2,}((([^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]'’,\-\.\s])){2,})?)*)$"
                        required value="<%= users.name %>"><br />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter full name using only alphabets, no numerical/special symbols allowed.
                    </div>
                </div>

                <div class="mb-2">
                    <label for="phoneNo">Enter mobile number </label>
                    <input class="form-control" type="tel" name="phoneNo" pattern="[1-9]{1}[0-9]{9}" id="phoneNo"
                        required value="<%= users.phoneNo %>"><br />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter 10-digit mobile number
                    </div>
                </div>

                <div class="mb-2">
                    <label for="email">Enter email address (abc@example.com)</label>
                    <input class="form-control" type="email" name="email" id="email"
                         required value="<%= users.email %>" disabled="disabled"><br />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter email id in specified format
                    </div>
                </div>

                <div class="mb-2">
                    <label for="password">Enter password</label>
                    <input class="form-control" type="password" name="password" id="password" value="<%= users.password %>" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required><br />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a password
                    </div>
                </div>

                <div class="mb-2">
                    <label for="investment_budget">Enter your investment budget(in rupees)</label>
                    <input class="form-control" type="number" name="investment_budget" id="investment_budget"
                        value="<%= users.investment_budget %>" required><br />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-2">
                    <label for="expected_return">Enter your expected return(in rupees)</label>
                    <input class="form-control" type="number" name="expected_return" id="expected_return"
                        value="<%= users.expected_return %>" required><br />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-2">
                    <label for="profit_sharing">Is profit sharing involved?</label>
                    <input type="radio" name="profit_sharing" id="profit_sharing" value="yes" required>Yes
                    <input type="radio" name="profit_sharing" id="profit_sharing" value="no">No<br />
                    <div class="invalid-feedback">
                        Please select one of the above
                    </div>
                </div>

                <div class="mb-2">
                    <label for="preferred_field_first">Enter first preferred domain of investment</label><br />
                    <select class=" form-control select-picker" name="preferred_field_first" id="preferred_field_first"
                        value="<%= users.preferred_field_first %>" required>
                        <option value="science and technology" <%= users.preferred_field_first === 'science and technology' ? 'selected' : '' %>>Science and Technology</option>
                        <option value="arts" <%= users.preferred_field_first === 'arts' ? 'selected' : '' %>>Arts</option>
                        <option value="social entrepreneurship" <%= users.preferred_field_first === 'social entrepreneurship' ? 'selected' : '' %>>Social Entrepreneurship</option>
                        <option value="women empowerment" <%= users.preferred_field_first === 'women empowerment' ? 'selected' : '' %>>Women Empowerment</option>
                        <option value="education" <%= users.preferred_field_first === 'education' ? 'selected' : '' %>>Education</option>
                        <option value="health sector" <%= users.preferred_field_first === 'health sector' ? 'selected' : '' %>>Health and Wellness</option>
                        <option value="safety" <%= users.preferred_field_first === 'safety' ? 'selected' : '' %>>Safety</option>
                        <option value="others" <%= users.preferred_field_first === 'others' ? 'selected' : '' %>>Others</option>
                    </select><br />
                    <div class="invalid-feedback">
                        Please select one of the above
                    </div>
                </div>

                <div class="mb-2">
                    <label for="preferred_field_second">Enter second preferred domain of investment</label><br />
                    <select class="form-control select-picker" name="preferred_field_second" id="preferred_field_second"
                        required value="<%= users.preferred_field_second %>">
                        <option value="science and technology" <%= users.preferred_field_second === 'science and technology' ? 'selected' : '' %>>Science and Technology</option>
                        <option value="arts" <%= users.preferred_field_second === 'arts' ? 'selected' : '' %>>Arts</option>
                        <option value="social entrepreneurship" <%= users.preferred_field_second === 'social entrepreneurship' ? 'selected' : '' %>>Social Entrepreneurship</option>
                        <option value="women empowerment" <%= users.preferred_field_second === 'women empowerment' ? 'selected' : '' %>>Women Empowerment</option>
                        <option value="education" <%= users.preferred_field_second === 'education' ? 'selected' : '' %>>Education</option>
                        <option value="health sector" <%= users.preferred_field_second === 'health sector' ? 'selected' : '' %>>Health and Wellness</option>
                        <option value="safety" <%= users.preferred_field_second === 'safety' ? 'selected' : '' %>>Safety</option>
                        <option value="others" <%= users.preferred_field_second === 'others' ? 'selected' : '' %>>Others</option>
                    </select><br />
                    <div class="invalid-feedback">
                        Please select one of the above
                    </div>
                </div>

                <div class="mb-2">
                    <label for="preferred_qualification" required>Enter preferred graduation qualification</label><br />
                    <select class="select-picker form-control" name="preferred_qualification"
                        id="preferred_qualification" value="<%= users.preferred_qualification %>">
                        <option value="B. Tech"  <%= users.preferred_qualification === 'B. Tech' ? 'selected' : '' %>>B. Tech</option>
                        <option value="BBA"  <%= users.preferred_qualification === 'BBA' ? 'selected' : '' %>>BBA</option>
                        <option value="B. Sc"  <%= users.preferred_qualification === 'B. Sc' ? 'selected' : '' %>>B. Sc</option>
                        <option value="MBBS"  <%= users.preferred_qualification === 'MBBS' ? 'selected' : '' %>>M.B.B.S.</option>
                        <option value="B. Com"  <%= users.preferred_qualification === 'B. Com' ? 'selected' : '' %>>B. Com</option>
                        <option value="B. Arch"  <%= users.preferred_qualification === 'B. Arch' ? 'selected' : '' %>>B. Arch</option>
                        <option value="other"  <%= users.preferred_qualification === 'other' ? 'selected' : '' %>>Others</option>
                        <option value="none"  <%= users.preferred_qualification === 'none' ? 'selected' : '' %>>None</option>
                    </select><br />
                    <div class="invalid-feedback">
                        Please select one of the above
                    </div>
                </div>

                <div class="mb-3 mt-2">
                    <input class="btn btn-dark form-control" type="submit" name="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</div>