<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Job Seekers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
    <h1>All Job Seekers</h1>
            <h3><%= users.name %></h3>
            <h3><%= users.phoneNo %></h3>
            <h3><%= users.email %></h3>
            <h3><%= users.password %></h3>
            <h3><%= users.tenth %></h3>
            <h3><%= users.tenth_org %></h3>
            <h3><%= users.twelfth %></h3>
            <h3><%= users.twelfth_org %></h3>
            <h3><%= users.graduation_degree%></h3>
            <h3><%= users.graduation_org %></h3>
            <h3><%= users.post_graduation_degree %></h3>
            <h3><%= users.post_graduation_org %></h3>
            <h3><%= users.gold_badge %></h3>
            <h3><%= users.silver_badge %></h3>
            <h3><%= users.bronze_badge %></h3>

</body>

</html>